body {
  padding-top: 50px;
  font-family: "Gill Sans";
}
.mainContainer {
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/sunset-edit.jpg');
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
p {
  font-size: 1.5em;
}
#mainLogo {
  font-family: 'Courgette', cursive;
  font-size: 5.5em;
  text-align: center;
  padding-top: 1em;
  color: #BDBDBD;
  font-weight: 600;
  padding-bottom: .8em;
  text-shadow: 2px 2px 2px #000000;
}
.subtitle {
  text-align: center;
}
#mainSearchButton {
  margin: 1em;
  font-family: 'Courgette', cursive;
  padding: .5em;
  color: white;
  background-color: #5DA3FC;
  font-size: 2em;
  border: 1px solid #BDBDBD;
  border-radius: 25%;
}
#mainSearchButton:hover {
  background-color: #1556AB;
  border: 1px solid #878787;
  color: black;
}
/*GOOGLE MAPS*/
#map {
  height: 30vh;
  width: 90%;
  border-radius: 5%;
  box-shadow: 2px 2px 4px black;
}
#satellite {
  height: 30vh;
  width: 90%;
  border-radius: 5%;
  box-shadow: 2px 2px 4px black;
}
/*END GOOGLE MAPS*/
.ui-menu .ui-menu-item a,.ui-menu .ui-menu-item a.ui-state-hover, .ui-menu .ui-menu-item a.ui-state-active {
	font-weight: normal;
	margin: -1px;
	text-align:left;
	font-size:14px;
	}
.ui-autocomplete-loading { background: white url("/images/ui-anim_basic_16x16.gif") right center no-repeat; }

#signUp a{
  text-align: center;
  color: #95C2FC;
  font-size: 1.5em;
}
#signUp a:hover {
  color: white;
  text-decoration: none;
}
#logIn a{
  text-align: center;
  color: #95C2FC;
  font-size: 1.5em;
}
#logIn a:hover {
  color: white;
  text-decoration: none;
}
#instagram {
  display: inline-block;
  position: absolute;
  top: 90%;
  left: 41%;
  font-size: 1em;
}
#instagram a {
  color: #95C2FC;
  font-size: 1em;
}
#instagram a:hover {
  color: white;
  text-decoration: none;
}
.sunGlow {
  animation: glow 2s infinite alternate;
  color: #7f7f7f;
  font-size: 4em;
  position: absolute;
  top: 70.8%;
  left: 49.1%;
  opacity: 1;
  border-radius: 50%;
  border: 0px solid #7f7f7f;
  width: .5em;
  height: .5em;
}
@keyframes glow {
  to {
    box-shadow: 0 0 50px yellow;
  }
}

/* RESULT PAGE */

#resultTitle {
  font-size: 4vw;
  text-align: center;
  padding-top: .5em;
  padding-bottom: .25em;
  color: orange;
}
.infoSection {
  color: #BDBDBD;
}
.spacer {
  padding: 1em;
}
.box {
  border: 2px #BDBDBD solid;
  height: 18em;
  width: 85%;
}

.resultContainer {
  background-color: #1556AB;
  background-size: cover;
  border: #BDBDBD .8em solid;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: scroll;
}

.resultTopLinks {
  color: #95C2FC;
}

.resultTopLinks:hover {
  color: #95C2FC;
}

.populationBox {
  padding-left: 7%;
  padding-top: 3%;
}

.tempBox {
  padding-right: 7%;
  padding-top: 3%;
  text-align: right;
}

#forecast {
  background-color: #BDBDBD;
  height: 30vh;
  border-radius: 5%;
  width: 90%;
  box-shadow: 2px 2px 4px black;
}

table{
  text-align: justify;
  height: 30vh;
  width: 100%;
  padding: 1vh 1vw;
}



/* USERS PAGE */
.userContainer {
  background-color: #1556AB;
   /*url('../img/manarola-edit.jpg');*/
  background-size: cover;
  border: #BDBDBD .8em solid;
  /*border-radius: 2%;*/
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.userSaves {
  color: #BDBDBD;
}
.userSaves h1 {

  color: orange;
  text-align: center;
  line-height: 2;
}

.userSaves a {
  color: orange;
  text-align: center;
  line-height: 2;
}

#saveRepeate {
  color: orange;

}

#homeButton {
  float: right;
  color: #BDBDBD;
}

#homeButton:hover {
  text-decoration: underline;
}


/* PANORAMIO */

#photoset {
  width: 100%;
  border-radius: 5%;
}
