<div class="mainContainer container">
  <div class="spacer">
  </div>
  <modal-dialog show='main.modalShown' width='400px' height='60%'>
    <p>Sign Up To Save Your Searches<p>
      <br>
      <form ng-submit="main.signUp()">
        <div class="form-group">
          <p>Email Address:</p>
          <input type="email" name="emailAddress" class="form-control" id="emailAddress" placeholder="" ng-model="main.signUpInfo.email">

        </div>
        <div class="form-group">
          <p>Password:</p>
          <input type="password" name="password" class="form-control" id="password" placeholder="" ng-model="main.signUpInfo.password">

        </div>
        <center>
        <button id="secondaryButton" type="submit">Submit</button>
      </center>
      </form>
  </modal-dialog>
  <modal-dialog show='main.modal2Shown' width='400px' height='60%'>
    <p>Log In To Your Account<p>
      <br>
      <form ng-submit="main.logIn()">
        <div class="form-group">
          <p>Email Address:</p>
          <input type="email" name="emailAddress" class="form-control" id="emailAddress" placeholder="" ng-model="main.logInInfo.email">

        </div>
        <div class="form-group">
          <p>Password:</p>
          <input type="password" name="password" class="form-control" id="password" placeholder="" ng-model="main.logInInfo.password">

        </div>
        <center>
        <button id="secondaryButton" type="submit">Submit</button>
      </center>
      </form>
  </modal-dialog>
  <div class="row">
    <center>
    <a href="https://www.instagram.com/tripstartideas/"><div id="instagram" >
        <div>
          <img src="http://vignette3.wikia.nocookie.net/carebears/images/b/b5/Instagram-logo-transparent-png-i11.png/revision/latest?cb=20140925232353" style="height: 3em; width 3em;  padding: 0em;"></a>
        </div>
        <div>
          <a href="https://www.instagram.com/tripstartideas/">Follow Us</a>
          <br>
          <a href="https://www.instagram.com/tripstartideas/">For Ideas!</a>
        </div>
        </div>
      </a>
      </div>
  </center>
  </div>
  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-2" id="signUp">

      <!-- <center><a ng-click="main.toggleModal()">Sign Up</a></center> -->
    </div>
    <div class="col-md-6">
      <p class="subtitle">Discover everything you want to know about a destination, all in one place.</p>
      <!-- <p class="subtitle">More about looking, less about booking.</p> -->
    </div>
    <div class="col-md-2" id="logIn">
      <!-- <center><a ng-click="main.toggleModal2()">Log In</a></center> -->
    </div>
    <div class="col-md-1">
    </div>
  </div>

  <div class="col-md-4 col-md-offset-4">
    <div class="row" id="mainLogo">
      TripStart
    </div>

    <div class="row">
      <form name="searchForm" ng-submit="main.setData(main.search.formData)">
        <center>
        <input type="text" class="form-control" ng-model="main.search.formData" id="mainSearch" placeholder=" Enter a city and country to get started.    (ex. Porto, Portugal)">
      </center>
        <center>
          <button id="mainSearchButton" type="submit">Search</button>
      </form>
      </center>
    </div>
  <!-- </div> -->
  <center>

</center>



  <!-- <div class="sunGlow" style="overflow-x: hidden; overflow-y: hidden; opacity: 1; "></div> -->
</div>
